# ================================

# Python Cache

# ================================

**pycache**/
*.py[cod]

# ================================

# Virtual Environments

# ================================

venv/
.env

# ================================

# ML Models & Weights (DO NOT COMMIT)

# ================================

*.h5
*.keras
*.onnx
*.pt
*.pth

# ================================

# Dataset / Labels

# ================================

class_labels_combined.json
health_classifier/
segments/
temp/

# ================================

# Databases

# ================================

*.db
*.sqlite3

# ================================

# IDE / Editor Files

# ================================

.vscode/
.idea/

# ================================

# OS Files

# ================================

.DS_Store
Thumbs.db